IndexIgnore .htaccess /theme /sunrays-theme /internal /.drone-wp-tools /drone /.svn /.git

Options +Indexes +FollowSymLinks

AddType text/html .php
Addhandler application/x-httpd-php .php

IndexOptions +Charset=UTF-8 +FancyIndexing +IgnoreCase +FoldersFirst +HTMLTable +SuppressIcon +SuppressRules +SuppressDescription +SuppressHTMLPreamble +VersionSort +Type=text/xml +XHTML +NameWidth=*

HeaderName /sunrays-theme/header.php
